<!DOCTYPE html>
<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<link rel="stylesheet" href="/static/lib/layui/css/layui.css">
<form id="form" class="layui-form" action="">
    <div class="layui-col-xs11" style="margin-top:5%">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <input type="hidden" name="id" id="id" th:value="${user.id}">
                <input type="text" name="name" lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input" th:value="${user.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="number" name="age" lay-verify="required" placeholder="请输入年龄" autocomplete="off" class="layui-input" th:value="${user.age}">
            </div>
        </div>

        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit="" lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
            <input type="button" lay-submit="" lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
        </div>

    </div>
</form>

<script src="/static/js/jquery-3.4.1.js"></script>
<script src="/static/lib/layui/layui.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;
        //自定义验证规则
        form.verify({
        });
        //监听开关
        form.on('switch(status)', function (data) {
            if (data.elem.checked) {
                $("#Status").val('1');
            } else {
                $("#Status").val('0');
            }
        });
        form.on('submit(layuiadmin-app-form-submit)', function (data) {
            var field = data.field; //获取提交的字段
            return postForm("/user/create", field, "add");
        });
        form.on('submit(layuiadmin-app-form-edit)', function (data) {
            var field = data.field; //获取提交的字段
            return postForm("/user/edit", field, "edit");
        });
        //提取公共提交表单方法
        function postForm(url, field, type) {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            var load = layer.load(1, {
                shade: [0.3, '#808080'] //0.1透明度的白色背景
            });
            $.post(url, field, function (data) {
                layer.close(load);
                if (data.status == 0) {
                    parent.layui.table.reload('tableList'); //重载表格
                    parent.layer.close(index); //再执行关闭
                    parent.layer.msg("操作成功!", {
                        time: 1000,
                        icon: 1,
                    });
                } else {
                    parent.layer.msg("操作失败!", {
                        time: 1000,
                        icon: 2,
                    });
                }
            })
        }
    });
</script>
</body>
</html>